* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.doc_logo {
    width: 260px;
    cursor: pointer;
}

.logo_image {
    width: 100%;
}

li, a {
    font-weight: 500;
    font-size: 16px;
    color: #ABABAB;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0 15px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #00b39b;
    cursor: pointer;
}

.caption {
    text-align: center;
}

.body_image_1 {
    width: 40px;
    margin-top: 60px;
}

.caption_tagline {
    margin-bottom: 5px;
    padding: 20px 0px 0px;
    font-size: 2rem;
    color: #00b39b;
    font-weight: 400;
}

.caption_description {
    display: flex;
    padding: 30px 0;
    text-align: left;
}

.caption_description p {
    color: #747474;
    font-size: 16px;
    margin: 0px 5px 10px 0px;
}

.cards {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2;
    color: #fff;
    margin: 0 auto 2rem;
}

.card_element {
    display: flex;
    gap: 2rem;
    width: 85%;
}

.card {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 2em 2em 0;
    justify-content: space-between;
    height: 345px;
}

select {
    border: none;
    text-decoration: underline;
    background: none;
    color: #fff;
}

.title {
    font-size: 1.625em;
    font-weight: 400;
    color: #fff;
    margin: 0.3em 0;
}

.des {
    margin: 0 0 5px;
}

.patient {
    background-color: #00b39b;
}

.doctor {
    background-color: #3D83DE;
}

.clinic {
    background-color: #1A2734;
}

select {
    margin-bottom: 25px;
}

.partnership_content {
    display: flex;
    gap: 2rem;
}

.partnership_title {
    font-size: 1.625em;
    margin: 0.25em 0 0.35em;
    padding-right: 1em;
    color: #00b39b;
    font-weight: 300;
    letter-spacing: -0.3px;
}

.partner_logo {
    width: 7.5rem;
    object-fit: contain;
}

.records {
    background-color: #CFFAF4;
    /* padding-top: 5rem;
    padding-bottom: 3rem; */
}

.cover {
    display: flex;
    justify-content: center;
}

.records__right {
    display: flex;
    gap: 1rem;
    margin-left: 50px;
    margin-right: 30px;
    justify-content: center;
    align-items: center;
}

.right_container {
    display: flex;
    /* gap: 1rem;
    margin-left: 50px;
    margin-right: 30px; */
    height: 520px;
    justify-content: center;
    align-items: center;
}

.rc {
    height: 500px;
    width: 250px;
    display: flex;
    flex-direction: column;
}

.record_card {
    background-color: white;
    /* padding: 40px 30px; */
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 51%;
    text-align: center;
    margin-bottom: 20px;
}

.record_card h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.8461538462em;
    color: #00b39b;
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -0.3px;
    line-height: 1.1;
}

.record_card p {
    font-size: 0.8125em;
    font-weight: 400;
    font-family: Roboto, Arial, sans-serif;
    color: #747474;
}

.records__right-card1 {
    margin-top: 40px;
    margin-right: 20px;
}

.records__right-card2 {
    margin-bottom: 20px;
}

.records__left {
    padding-top: 50px;
}

.records__left h2 {
    color: #00b39b;
    font-weight: 300;
    letter-spacing: -0.3px;
    padding-left: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 1.1;
}

.records__left p {
    padding-left: 50px;
    padding-top: 20px;
    font-size: 15px;
    color: #747474;
    padding-bottom: 50px;
    margin: 0 0 10px;
}

.records__left img {
    margin-bottom: -5px;
}

.improve {
    text-align: center;
    padding-top: 4.5rem;
}

.improve h3{
    margin: 20px 0px 10px;
    font-size: 2.1428571429em;
    color: #00b39b;
    font-weight: 300;
    letter-spacing: -0.5px;
}

.improve p{
    margin: 1.6em 0;
    line-height: 1.7142857143;
    font-weight: 400;
    color: #747474;
}

footer {
    text-align: center;
}