* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.doc_logo {
    width: 260px;
    cursor: pointer;
}

.logo_image {
    width: 100%;
}

li, a {
    font-weight: 500;
    font-size: 16px;
    color: #ABABAB;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0 15px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #00b39b;
    cursor: pointer;
}